{% extends 'base.html.twig' %}

{% block body %}

    <section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar" id="header4-0"
             style="background-image: url({{ 'assets/images/bg.jpg' }});">
        <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-center">

            <div class="mbr-box__container mbr-section__container container">
                <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-center">
                        <div class="row"><div class=" col-sm-8 col-sm-offset-2">
                                <div class="mbr-hero animated fadeInUp">
                                    <h1 style="background-color: transparent"
                                        class="mbr-hero__text">{{ 'home.banner.title' | trans}}</h1>
                                    <p class="mbr-hero__subtext"></p><p>{{ 'home.banner.sub_title' | trans}}</p><p></p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--center">
                                    <a class="mbr-buttons__btn btn btn-lg btn-danger animated fadeInUp delay" href="">{{ 'home.banner.try_app' | trans}}</a>
                                    <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="">Geting Started</a>
                                </div>
                            </div></div>
                        </div>
                </div>
            </div>

        </div>
    </section>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-0" style="background-color: rgb(255, 255, 255);">

        <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 62px;">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">{{ 'home.info.title' | trans}}</h3>
                    <p class="mbr-header__subtext">{{ 'home.info.subtitle' | trans}}</p>
                </div>
            </div>
        </div>
        <div class="mbr-section__container container mbr-section__container--middle">
            <div class="row">
                <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><p>{{ 'home.info.content' | trans}}</p></div>
            </div>
        </div>
        <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 62px;">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="mbr-buttons mbr-buttons--center">
                        <a class="mbr-buttons__btn btn btn-lg btn-default" href="https://github.com/website" target="_blank">{{ 'home.info.github_repo' | trans}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background" id="features1-0"
             style="background-image: url({{ 'assets/images/bg3.jpg' }});">

        <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 31px;">
            <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="mbr-header__text">SETUP Website-API IN 3 MINUTES</h3>
                    <p class="mbr-header__subtext">{{ 'home.setup.title' |trans}}</p>
                </div>
            </div>
        </div>
        <div class="mbr-section__container container">
            <div class="mbr-section__row row">
                <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                    <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                        <figure class="mbr-figure"><img src="{{'assets/images/bootstrap.png'}}" class="mbr-figure__img"></figure>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">1. {{ 'home.setup.title1' |trans}}</h3>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--wysiwyg">
                            <p>
                                {{ 'home.setup.connection' |trans}}
                            </p>
                            <br/>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                        <div class="mbr-buttons mbr-buttons--center">
                            <a href="" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">
                                {{ 'home.setup.button' |trans}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                    <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                        <figure class="mbr-figure"><img src="{{'assets/images/responsive.png'}}" class="mbr-figure__img"></figure>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">2. {{ 'home.setup.title2' |trans}}</h3>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--wysiwyg">
                            <p>
                                {{ 'home.setup.validate' |trans}}
                            </p>
                            <br/>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                        <div class="mbr-buttons mbr-buttons--center">
                            <a href="" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">
                                {{ 'home.setup.button' |trans}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                    <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                        <figure class="mbr-figure"><img src="{{'assets/images/google-fonts.png'}}" class="mbr-figure__img"></figure>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">3. {{ 'home.setup.title3' |trans}}</h3>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--wysiwyg">
                            <p>
                                {{ 'home.setup.application' |trans}}
                            </p>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                        <div class="mbr-buttons mbr-buttons--center">
                            <a href="" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">
                                {{ 'home.setup.button' |trans}}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                    <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                        <figure class="mbr-figure"><img src="{{'assets/images/unlimited-websites.png'}}" class="mbr-figure__img"></figure>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">4. {{ 'home.setup.title4' |trans}}</h3>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--wysiwyg">
                            <p>
                                {{ 'home.setup.rest' |trans}}
                            </p>
                            <br/>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                        <div class="mbr-buttons mbr-buttons--center">
                            <a href="" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">
                                {{ 'home.setup.button' |trans}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section" id="video2-0">
        <div class="mbr-section__container container mbr-section__container--isolated">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--no-bg mbr-figure--caption-outside-bottom">
                        <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/sOSTC6FM6Bw?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                        <figcaption class="mbr-figure__caption mbr-figure__caption--no-padding">
                            <small class="mbr-figure__caption-small">Online video and Youtube particularly is now more popular than cable television. website provides movies for you, then you can see and apply them directly with ease.<br></small>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="social-buttons2-0" style="background-color: rgb(240, 240, 240);">
        <div class="mbr-section__container container">
            <div class="mbr-header mbr-header--inline row" style="padding-top:13px; padding-bottom: 0px;">
                <div class="col-sm-4">
                    <h3 class="mbr-header__text">FOLLOW US</h3>
                </div>
                <div class="mbr-social-icons mbr-social-icons--style-1 col-sm-8">
                    <a class="mbr-social-icons__icon socicon-bg-twitter" title="Twitter" target="_blank" href="https://twitter.com/website"><i class="socicon socicon-twitter"></i></a>
                    <a class="mbr-social-icons__icon socicon-bg-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/website"><i class="socicon socicon-facebook"></i></a>
                    <a class="mbr-social-icons__icon socicon-bg-youtube" title="YouTube" target="_blank" href="http://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw"><i class="socicon socicon-youtube"></i></a>
                    <a class="mbr-social-icons__icon socicon-bg-github" title="GitHub" target="_blank" href="https://github.com/website"><i class="socicon socicon-github"></i></a>
                    <a class="mbr-social-icons__icon socicon-bg-linkedin" title="LinkedIn" target="_blank" href="https://www.linkedin.com/company/website"><i class="socicon socicon-linkedin"></i></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}
