{% extends 'base.html.twig' %}

{% block title %}
    {{ 'application.new.title' |trans}}
{% endblock %}

{% block body %}

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-after-navbar" id="form1-0" style="background-color: rgb(239, 239, 239);">
        <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 30px; padding-bottom: 93px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                            <div class="mbr-header mbr-header--center mbr-header--std-padding">
                                <h2 class="mbr-header__text">{{'application.new.title' |trans  }}</h2>
                            </div>
                            <br>

                            {{ form_start(form) }}
                            {{ form_widget(form.name, { 'attr': {'placeholder': 'application.new.name'|trans} }) }}
                            <br>

                            {{ form_widget(form.phoneNumber, { 'attr': {'placeholder': 'application.new.phoneNumber'|trans} }) }}
                            <br>

                            <p>
                                <button type="submit" class="btn btn-success"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> {{'application.new.submit'|trans}}</button>
                            </p>
                            {{ form_end(form) }}

                            <div class="form-group">
                                <a class="btn btn-default" href="{{ path('application') }}">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                       {{'application.new.return'|trans}}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

